USE [master]
GO
/****** Object:  Database [Emelyanenko_ShoesShop]    Script Date: 26.11.2025 16:05:21 ******/
CREATE DATABASE [Emelyanenko_ShoesShop];

GO
USE [Emelyanenko_ShoesShop];
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emelyanenko_ShoesShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Emelyanenko_ShoesShop]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickupPoint]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPoint](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[PostIndex] [int] NULL,
	[City] [varchar](50) NULL,
	[Street] [varchar](50) NULL,
	[HouseIndex] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[ProductArticle] [varchar](50) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ProductUnit] [varchar](50) NULL,
	[ProductPrice] [int] NOT NULL,
	[ProductSupplierID] [int] NOT NULL,
	[ProductManufacturerID] [int] NULL,
	[ProductCategoryID] [int] NULL,
	[ProductDiscount] [int] NOT NULL,
	[ProductInStock] [int] NOT NULL,
	[ProductDescription] [varchar](200) NOT NULL,
	[ProductPhotoPath] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductManufacturer]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductManufacturer](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSupplier]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSupplier](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopOrder]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopOrder](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[PickupPointID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[OrderStatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopOrderDetail]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopOrderDetail](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[ShopOrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopUser]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopUser](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[UserRoleID] [int] NOT NULL,
	[UserFIO] [varchar](150) NOT NULL,
	[UserLogin] [varchar](150) NOT NULL,
	[UserPassword] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 26.11.2025 16:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (0, N'Завершен')
INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (1, N'Новый ')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PickupPoint] ON 

INSERT [dbo].[PickupPoint] ([ID], [PostIndex], [City], [Street], [HouseIndex]) VALUES (0, 420151, N'г. Лесной', N'ул. Вишневая', 32)
INSERT [dbo].[PickupPoint] ([ID], [PostIndex], [City], [Street], [HouseIndex]) VALUES (1, 125061, N'г. Лесной', N'ул. Подгорная', 8)
INSERT [dbo].[PickupPoint] ([ID], [PostIndex], [City], [Street], [HouseIndex]) VALUES (2, 630370, N'г. Лесной', N'ул. Шоссейная', 24)
SET IDENTITY_INSERT [dbo].[PickupPoint] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [ProductArticle], [ProductName], [ProductUnit], [ProductPrice], [ProductSupplierID], [ProductManufacturerID], [ProductCategoryID], [ProductDiscount], [ProductInStock], [ProductDescription], [ProductPhotoPath]) VALUES (0, N'А112Т4', N'Ботинки', N'шт.', 4990, 0, 2, 0, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Product] ([ID], [ProductArticle], [ProductName], [ProductUnit], [ProductPrice], [ProductSupplierID], [ProductManufacturerID], [ProductCategoryID], [ProductDiscount], [ProductInStock], [ProductDescription], [ProductPhotoPath]) VALUES (1, N'F635R4', N'Ботинки', N'шт.', 3244, 1, 3, 0, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Product] ([ID], [ProductArticle], [ProductName], [ProductUnit], [ProductPrice], [ProductSupplierID], [ProductManufacturerID], [ProductCategoryID], [ProductDiscount], [ProductInStock], [ProductDescription], [ProductPhotoPath]) VALUES (2, N'H782T5', N'Туфли', N'шт.', 4499, 0, 2, 1, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (0, N'Женская обувь')
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (1, N'Мужская обувь')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductManufacturer] ON 

INSERT [dbo].[ProductManufacturer] ([ID], [Name]) VALUES (0, N'Alessio Nesca')
INSERT [dbo].[ProductManufacturer] ([ID], [Name]) VALUES (1, N'CROSBY')
INSERT [dbo].[ProductManufacturer] ([ID], [Name]) VALUES (2, N'Kari')
SET IDENTITY_INSERT [dbo].[ProductManufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSupplier] ON 

INSERT [dbo].[ProductSupplier] ([ID], [Name]) VALUES (0, N'Kari')
INSERT [dbo].[ProductSupplier] ([ID], [Name]) VALUES (1, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[ProductSupplier] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopOrder] ON 

INSERT [dbo].[ShopOrder] ([ID], [OrderDate], [DeliveryDate], [PickupPointID], [ClientID], [Code], [OrderStatusID]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 3, 901, 0)
INSERT [dbo].[ShopOrder] ([ID], [OrderDate], [DeliveryDate], [PickupPointID], [ClientID], [Code], [OrderStatusID]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 0, 902, 0)
INSERT [dbo].[ShopOrder] ([ID], [OrderDate], [DeliveryDate], [PickupPointID], [ClientID], [Code], [OrderStatusID]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 1, 903, 0)
SET IDENTITY_INSERT [dbo].[ShopOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopOrderDetail] ON 

INSERT [dbo].[ShopOrderDetail] ([ID], [ShopOrderID], [ProductID], [Amount]) VALUES (1, 1, 0, 2)
INSERT [dbo].[ShopOrderDetail] ([ID], [ShopOrderID], [ProductID], [Amount]) VALUES (2, 2, 2, 1)
INSERT [dbo].[ShopOrderDetail] ([ID], [ShopOrderID], [ProductID], [Amount]) VALUES (3, 3, 4, 10)
SET IDENTITY_INSERT [dbo].[ShopOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopUser] ON 

INSERT [dbo].[ShopUser] ([ID], [UserRoleID], [UserFIO], [UserLogin], [UserPassword]) VALUES (0, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[ShopUser] ([ID], [UserRoleID], [UserFIO], [UserLogin], [UserPassword]) VALUES (1, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[ShopUser] ([ID], [UserRoleID], [UserFIO], [UserLogin], [UserPassword]) VALUES (2, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[ShopUser] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [Name]) VALUES (0, N'Авторизированный клиент')
INSERT [dbo].[UserRole] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[UserRole] ([ID], [Name]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductSupplierID])
REFERENCES [dbo].[ProductSupplier] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductManufacturerID])
REFERENCES [dbo].[ProductManufacturer] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([ID])
GO
ALTER TABLE [dbo].[ShopOrder]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[ShopUser] ([ID])
GO
ALTER TABLE [dbo].[ShopOrder]  WITH CHECK ADD FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([ID])
GO
ALTER TABLE [dbo].[ShopOrder]  WITH CHECK ADD FOREIGN KEY([PickupPointID])
REFERENCES [dbo].[PickupPoint] ([ID])
GO
ALTER TABLE [dbo].[ShopOrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ShopOrderDetail]  WITH CHECK ADD FOREIGN KEY([ShopOrderID])
REFERENCES [dbo].[ShopOrder] ([ID]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopUser]  WITH CHECK ADD FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[UserRole] ([ID])
GO
USE [master]
GO
